html {
	background-color: #2C0735;
	width: 100vw;
	height: 100vh;
}

header {
	display: flex;
	flex-flow: column;
	justify-content: center;
}

h1 {
	margin: 1rem;
	font-size: 4rem;
	font-family: sans-serif;
	justify-self: center;
	align-self: center;
	color: #FCECC9;
}

.container__button {
	display: flex;
	justify-content: center;
}

.button {	
	color: #FCECC9;
	background-color: #4E148C;
	width: 12rem;
	height: 5rem;
	font-size: 2.5rem;
	border: none;
	border-radius: .5rem;
	margin: 1rem;
	cursor: pointer;
	margin-top: 15vh;
}


